
@model EcommerceV2.Models.User


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<br />
<br />
<br />

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Enter email" })         
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password", @type = "password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="PasswordVerify">Re-Enter Password</label>
        @Html.TextBoxFor(m => m.PasswordVerify, new { @class = "form-control", @placeholder = "Re-enter password", @type = "password"})
        @Html.ValidationMessageFor(m => m.PasswordVerify, "", new { @class = "text-danger"})
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
    
}

